all:
  hosts:
    localhost:
      ansible_connection: local
      ansible_python_interpreter: "{{ user_home }}/.ansible-azure/bin/python"

    azure_vm:
      ansible_host: {{ vm_public_ip }}
      ansible_user: azureuser
      ansible_python_interpreter: /usr/bin/python3
      ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
      ansible_become: yes

  children:
    gighive:
      hosts:
        azure_vm:

    target_vms:
      children:
        gighive:

