MYSQL_DATABASE={{ telemetry_receiver_db_name }}
MYSQL_USER={{ telemetry_receiver_db_user }}
MYSQL_PASSWORD={{ telemetry_receiver_db_password }}
MYSQL_ROOT_PASSWORD={{ telemetry_receiver_mysql_root_password }}
DB_HOST={{ telemetry_receiver_db_host }}
DB_PORT={{ telemetry_receiver_db_port }}
SITE_NAME={{ telemetry_receiver_site_name }}
TZ={{ telemetry_receiver_timezone }}
