[mysqld]
mysql_native_password=OFF
authentication_policy = "*"
port = 3306
bind-address = 0.0.0.0
socket = /var/run/mysqld/mysqld.sock
log_error = /var/lib/mysql/error.log
general_log = 1
general_log_file = /var/lib/mysql/general.log
server-id = 1
secure_file_priv=/var/lib/mysql-files
local-infile=1
