# This is the main Apache server configuration file based on production settings.

# Define standard logging directory
Define APACHE_LOG_DIR /var/log/apache2

# Include ports to listen on
Include ports.conf

# Set user and group Apache runs as
User www-data
Group www-data

# Set the ServerName to avoid DNS lookup delays
ServerName {{ gighive_server_name | default('gighive') }}
Protocols h2 http/1.1

# Load all module configuration files
IncludeOptional mods-enabled/*.load
IncludeOptional mods-enabled/*.conf

# Load custom configurations
IncludeOptional conf-enabled/*.conf

# Load virtual host configurations
IncludeOptional sites-enabled/*.conf

# Custom Header and Cache Control settings
<IfModule mod_headers.c>
    <FilesMatch "\.(mp3|mp4|mov|au|png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|otf|eot)$">
        Header set Cache-Control "public, max-age=604800, immutable"
    </FilesMatch>
    <FilesMatch "\.(php|html|css|js|json|xml)$">
        Header set Cache-Control "public, max-age=86400"
    </FilesMatch>
    <FilesMatch ".*">
        Header always set Server "Gighive"
    </FilesMatch>
</IfModule>

<IfModule mod_cache.c>
    CacheIgnoreHeaders Set-Cookie
</IfModule>

<FilesMatch "\.(mp4|mov|au|mp3|wav|aac)$">
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Headers "Range"
    Header set Access-Control-Expose-Headers "Content-Length, Content-Range"
</FilesMatch>

<IfModule mod_cache.c>
    CacheEnable disk /
    CacheRoot /var/cache/apache2
    CacheDirLevels 2
    CacheDirLength 2
    CacheDefaultExpire 3600
    CacheMaxExpire 86400
    CacheLastModifiedFactor 0.1
    CacheIgnoreCacheControl On
</IfModule>

# Configure PHP-FPM proxy handling
<FilesMatch "\.php$">
    SetHandler "proxy:unix:/run/php/php{{ gighive_php_version | default('8.3') }}-fpm.sock|fcgi://localhost"
</FilesMatch>

# Replace client IP with the value from X-Forwarded-For
RemoteIPHeader X-Forwarded-For

# Trust only your proxy networks
RemoteIPTrustedProxy 172.18.0.0/16
RemoteIPTrustedProxy 192.168.0.0/16
RemoteIPTrustedProxy 10.0.0.0/8


#LogLevel debug warn cache:warn cache_disk:warn
#LogLevel warn proxy:debug
LogLevel warn
# Access and error logs to files
CustomLog ${APACHE_LOG_DIR}/access.log combined
ErrorLog  ${APACHE_LOG_DIR}/error.log


#LoadModule security2_module /usr/lib/apache2/modules/mod_security2.so
IncludeOptional /etc/modsecurity/modsecurity.conf


 

