services:
  {{ apache_container_name }}:
    ports:
      - "0.0.0.0:443:443"
    build:
      context: "./apache"
      dockerfile: Dockerfile
      args:
        APP_FLAVOR: "{{ app_flavor | default('defaultcodebase') }}"
    image: "{{ apache_docker_image }}"
    pull_policy: build
    env_file:
      - ./apache/externalConfigs/.env
    environment:
      TZ: "{{ gighive_timezone }}"
    container_name: "{{ apache_container_name }}"
    restart: unless-stopped
    dns:
      - 127.0.0.11
      - 8.8.8.8
      - 1.1.1.1
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - "/home/{{ ansible_user }}/audio:{{ media_search_dir_audio }}"
      - "/home/{{ ansible_user }}/video:{{ media_search_dir_video }}"
      - "{{ gighive_htpasswd_host_path }}:{{ gighive_htpasswd_path }}:rw"
      - "{{ gighive_resize_requests_host_path }}:{{ gighive_resize_requests_path }}:rw"
      - "{{ mysql_backups_dir }}:/var/www/private/mysql_backups:ro"
      - "{{ docker_dir }}/apache/externalConfigs/restorelogs:/var/www/private/restorelogs:rw"
      - "{{ docker_dir }}/apache/externalConfigs/apache2.conf:/etc/apache2/apache2.conf:ro"
      - "{{ docker_dir }}/apache/externalConfigs/ports.conf:/etc/apache2/ports.conf:ro"
      - "{{ docker_dir }}/apache/externalConfigs/default-ssl.conf:/etc/apache2/sites-available/default-ssl.conf:ro"
      - "{{ docker_dir }}/apache/externalConfigs/logging.conf:/etc/apache2/conf-available/logging.conf:ro"
      - "{{ docker_dir }}/apache/externalConfigs/php-fpm.conf:/etc/apache2/conf-available/php-fpm.conf:ro"
      - "{{ docker_dir }}/apache/externalConfigs/www.conf:/etc/php/{{ gighive_php_version | default('8.3') }}/fpm/pool.d/www.conf:ro"
      - "{{ docker_dir }}/apache/externalConfigs/apache2-logrotate.conf:/etc/logrotate.d/apache2:ro"
      - "{{ docker_dir }}/apache/externalConfigs/entrypoint.sh:/entrypointapache.sh:ro"
      - "{{ docker_dir }}/apache/externalConfigs/openssl_san.cnf:/etc/ssl/openssl_san.cnf:ro"
      - "{{ docker_dir }}/apache/externalConfigs/modsecurity.conf:/etc/modsecurity/modsecurity.conf:ro"
      - "{{ docker_dir }}/apache/externalConfigs/crs/crs-setup.conf:/etc/modsecurity/crs-setup.conf:ro"
      - "{{ docker_dir }}/apache/externalConfigs/crs/rules:/etc/modsecurity/crs/rules:ro"
      - "{{ docker_dir }}/apache/externalConfigs/security2.conf:/etc/apache2/mods-available/security2.conf:ro"
    entrypoint: ["/entrypointapache.sh"]

  {{ mysql_container_name }}:
    image: mysql:8.4
    container_name: "{{ mysql_container_name }}"
    restart: unless-stopped
    ports:
      - "3306:3306"
    env_file:
      - ./mysql/externalConfigs/.env.mysql
    environment:
      TZ: "{{ gighive_timezone }}"
    volumes:
      - mysql_data:/var/lib/mysql
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - "{{ docker_dir }}/mysql/externalConfigs/prepped_csvs/{{ 'full' if database_full | bool else 'sample' }}:/var/lib/mysql-files/"
      - "{{ docker_dir }}/mysql/externalConfigs/create_music_db.sql:/docker-entrypoint-initdb.d/00-create_music_db.sql"
      - "{{ docker_dir }}/mysql/externalConfigs/load_and_transform.sql:/docker-entrypoint-initdb.d/01-load_and_transform.sql"
      - "{{ docker_dir }}/mysql/externalConfigs/z-custommysqld.cnf:/etc/mysql/conf.d/z-custommysqld.cnf"

volumes:
  mysql_data:
