[ req ]
default_bits       = 2048
default_md         = sha256
distinguished_name = req_distinguished_name
req_extensions     = v3_req
x509_extensions    = v3_req
prompt             = no

[ req_distinguished_name ]
CN = {{ gighive_server_name | default('gighive') }}

[ v3_req ]
subjectAltName = @alt_names
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[ alt_names ]
DNS.1 = {{ gighive_server_name | default('gighive') }}
DNS.2 = {{ gighive_server_alias | default('gighive') }}
DNS.3 = musiclibrary
DNS.4 = musiclibrary-dev
DNS.5 = ubuntu
IP.1  = 192.168.1.227
IP.2  = 192.168.1.239
IP.3  = 192.168.1.245
IP.4  = 192.168.1.248
IP.5  = 192.168.1.249

