ADMIN_URL={{ gighive_base_url }}
ADMIN_USER={{ admin_user }}
ADMIN_PASS={{ gighive_admin_password }}
TEST_ADMIN_PW={{ gighive_admin_password }}
TEST_VIEWER_PW={{ gighive_viewer_password }}
TEST_UPLOADER_PW={{ gighive_uploader_password }}
MEDIA_FOLDER={{ playwright_media_folder }}
REPO_ROOT={{ repo_root }}
